        *{
            box-sizing: border-box;
        }

        body {
            font-family: Roboto;
            margin: 0;
            align-items: center ;
            background-color: rgb(41, 38, 38);
  
        }

        #contenedorLogin{
            color: white;
            font-size:20px;
            font-weight: bolder;
            margin-left: 2%;
        }

        #contenedorLogin a{
            color:orange;
            font-size:20px;
        }

        #formulario {
            background-color: rgb(185, 172, 172);
            border-radius: 10px;
            padding: 20px;
            border:1px solid black;
            margin-left:20%;
            margin-right: 20%;
            margin-top: 4%;
            padding-left: 4%;
        }


        #formulario p {
            margin-left: -3%;
            border-radius:10px;
            background-color: #292929;
            color: white;
            align-items: center;
            font-size: 35px;
            font-weight: bold;
            display: block;
            padding-left:2%;
            padding-top: 1%;
            padding-bottom: 1%;
        }

        label{
            display:block;
            margin: 10px 0px;
            font-weight: bolder;
            font-size: 30px;
        }
        

        #formulario input[type=date] {
            margin-left:3%;
            padding: 6px;
            border: 1px solid black;
            font-size: 16px;
            border-radius: 6px;
        }

        /* ::placeholder{
            font-size: 16px;
            font-weight: bolder;
        } */

        #descripcion{
            border-radius: 6px;
            padding: 10px;
            font-size: 16px;
            font-weight: bolder;

        }

        button {
            display: flex;
            background: #ddd;
            border-radius: 10px;
            font-size: 24px;
            border: 1px solid black;
            cursor: pointer;
            margin-top:1%;
            margin-left:4%;
        }


        
